# Generated project files
/target
/desktop/src-tauri/target
/desktop/src-tauri/gen
/desktop/node_modules

# Local environment overrides
.env
.env.*
!.env.example

# Editor helpers
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Operating system metadata
**/.directory
**/.DS_Store
**/desktop.ini
**/Thumbs.db
